<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">


</head>
<body>
  {% load static %}
  <div id="wrapper">
        <h3 class="style">
          Welcome To JR Services A Family Owned Business!
        </h3>
        <p class="text">With over 25 years in the industry we have all the experience we need to
          get the job done!
        </p>
        <div class="image">
          <img src="static/images/dad_pic1.jpg" alt="image1" height="550px">
      </div>
    </div>

    
</body>
</html>