<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/tree.png"/>
</head>
<body>
  {% load static %}
  <section>
    <div class="header">
      <h2 id="header-text">Welcome To JR Tree Services!</h2>
      <img src="/static/images/tree.png" alt="tree" id="tree-pic-header">
      <h3 id ="header-info">
        <ion-icon name="call-outline"></ion-icon>
        (650)-454-2796
      </h3>
      <h3 id ="header-email">
        <ion-icon name="mail-outline"></ion-icon>
        jrtreeservices@gmail.com
      </h3>
    </div>
  </section>
  <section>
    <img src="/static/images/gianttrees.jpg" alt="giant-trees" class="top-image">
    <div class="about-us-top">
      <h2 id="info-top-pic">JR Tree Services is family owned business bases out of San Jose, CA</h2>
      <p>We have been dedicated to serving our community for about 15 years and have well over
        25 years of <br>
        experience. We can help get your trees looking healthy again!
      </p>
    </div>
    <div id="second-bubble-top-pic">
      <ion-icon name="call-outline"></ion-icon>
      <h2>Call us now (650)-454-2796</h2>
    </div>
    <div class="pics-overlaying-trees">
      <img src="/static/images/dad_pic2.jpg" alt="dad-hanging" id="dad-pic" height="300px">
      <img src="/static/images/carlos_pic2.jpg" alt="carlos-pic2" id="carlos-pic" height="300px">
    </div>
  </section>
  <section>
    <div class="about-us-mid">
      <h2>JR Tree Services is a professional business located in San Jose, CA</h2>
      <p>We are a small family owned company but we have the professional experience that will get the job done! With over 25 years
        of professional experience there is no job that is too big or too dangerous for us! We can climb
        trees safely and efficiently, whether it's to completely remove it or just a simple prune without causing damage to our 
        surroundings. With our team of experts we guarantee that we can get the job done! We look forward to servicing your trees soon!
      </p>
    </div>
  </section>
  <section>
    <div class="serving-areas">
      <p>Now serving Redwood City, Palo Alto, Los Altos, Los Altos Hills, San Jose</p>
    </div>
  </section>
  <section>
    <div class="gardening-service">
      <div class="grass-pic">
      <img src="/static/images/grass.jpeg" alt="grass" height="450px">
    </div>
    <div class="text-next-to-grass-pic">
      <span>
        <h2>We also offer gardening services!</h2>
        <p id="grass-text">We also offer gardening services to help you take care of your beautiful plants! With this service you wont
          have to worry about your mowing your lawn or plants, because we are here to take care of them! We can come and do basic yard
          maintenance or if you decide you want some new plants we can go ahead and plant them for you! If you'd like we can come by 
          weekly or we can agree on a schedule that works with yours. We want to make sure your needs are met!  
        </p>
      </span>
      </div>
    </div>
  </section>
  <section> 
    <div class="footer">
      <p id="bottom-contact">Contact <br>
        Call us now (650)-454-2796 <br>
        jrtreeservices@gmail.com
      </p>
      <p id="company-address"> Serving <br>
        San Jose, CA 95136 <br>
        and surrounding areas!
      </p>
      <p id="social-media-links">Follow Us <br>
        <ion-icon name="logo-instagram"><a href="#"></a></ion-icon>
        <ion-icon name="logo-facebook"><a href="#"></a></ion-icon>
      </p>
    </div>
  </section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>