<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand">Hi {{request.session.user_name}}!</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/make_payment">Make A Payment</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
    
          <div class="jumbotron">
            <h1 class="display-3">Deposit</h1>
            <p class="lead">Make a $100 deposit to make secure a spot on our schedule.</p>
            <a href="#" id="buy_now_btn" class="btn btn-primary">Make Deposit!</a>
          </div>
    
          <footer class="footer">
            <p>&copy; 2021</p>
          </footer>
          <script src="https://js.stripe.com/v3/"></script>
            {% block javascript %}
                <script src="script-ajax.js"></script>
            {% endblock %}
        </div> 
</body>
</html>