.title {
  font-family: Rockwell;
  font-size: 40px;
  padding: 25px;
  text-align: center;
  background-color: rgb(59, 167, 59);
  
}

.title-pic {
  position: absolute; 
  margin-top: 40px;
  margin-left: 5px;
}

.title-pic2 {
  position: absolute;
  margin-top: 40px;
  margin-left: 1660px;
}


#section1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#section3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  flex-basis: 40%;
  max-width: 100%;
  padding-top: 25px;
  margin-right: 38px;
}

.image2 {
  flex-basis: 40%;
  max-width: 100%;
  padding-top: 25px;
}

.image3 {
  flex-basis: 40%;
  max-width: 100%;
  padding-top: 25px;
  margin-right: 38px;
}

.text{
  font-family: Rockwell;
  text-align: center;
  margin-left: 29px;
  font-size: 30px;
  padding: 25px;
}