* {
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: green;
  text-align: center;
  padding: 50px;
}

.header-text {

}

#tree-pic-header {
  position: absolute;
  left: 25px;
  top: 25px;
  height: 85px;
}

#header-info {
position: absolute; 
top: 15px; 
right: 25px;
}

#header-email {
  position: absolute;
  top: 15px;
  right: 170px;
}